.left{
   text-align: center;
   width:900px;
   height:600px;
  margin:150px;
  
   

}
body{
    background-color: gold;
    text-align:center;
    padding-left:20px;
}
h1{
    font-size: 50px;
    font-weight:bold;
    color: darkred;
    font-family:Times;
}
h2{
    color: green;
    font-style:italic;
    
}
.right{
    text-align:center;

}

