.left{
   text-align: center;
  
  
 
  
   

}
body{
    background-color: gold;
    text-align:center;
  
   
}
h1{
    font-size: 50px;
    font-weight:bold;
    color: darkred;
    font-family:Times;
}
h2{
    color: green;
    font-style:italic;
    
}
.right{
    text-align:center;

}

